// Primary Color
$Blue: #3a7bfd;

// Light Theme
// lt >>==>> light theme
$lt-v-l-gray: #fafafa;
$lt-v-l-grayish-blue-bgc: #e4e5f1;
$lt-l-grayish-blue: #d2d3db;
$lt-d-grayish-blue: #9394a5;
$lt-v-d-grayish-blue: #484b6a;

// Dark Theme
// dt >>==>> dark theme
$dt-v-d-blue-bgc: #161722;
$dt-v-d-desaturated-blue: #25273c;
$dt-l-grayish-blue: #cacde8;
$dt-l-grayish-blue-hover: #e4e5f1;
$dt-d-grayish-blue: #777a92;
$dt-v-d-grayish-blue: #4d5066;
$dt-v-d-grayish-blue-two: #393a4c;
